@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    --primary: 126 54% 24%;
    --primary-foreground: 120 40% 97%;
    --secondary: 30 32% 94%;
    --secondary-foreground: 28 38% 20%;
    --muted: 210 10% 96%;
    --muted-foreground: 0 0% 45%;
    --accent: 120 33% 93%;
    --accent-foreground: 126 54% 24%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 12% 88%;
    --input: 210 12% 86%;
    --ring: 126 54% 24%;
    --bois: 28 47% 43%;
    --bois-clair: 30 32% 94%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
